@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

html {
  /* Para trabajar con unidades relativas */
  font-size: 62.5%;
  /* HEADER */
  /* MAIN */
  /* FOOTER */
}

html .border {
  padding: 0.5rem;
  margin: 0.5rem;
}

html #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html #nav-pc ul li {
  /* La lista se vuelve horizontal */
  display: inline;
  font-size: 1.5rem;
  margin: 4rem;
  /* Link de la página actual */
}

html #nav-pc ul li a {
  /* Se elimina el subrayado de los enlaces */
  text-decoration: none;
  color: darkgray;
  /* Transicion */
}

html #nav-pc ul li a:hover {
  color: black;
}

html #nav-pc ul li #black {
  color: black;
}

html #img-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

html #img-grid .imagen {
  display: -ms-grid;
  display: grid;
}

html .texto .col-md-6,
html .texto .col-md {
  padding-left: 2rem;
  padding-right: 2rem;
}

html .texto .col-md-6 p,
html .texto .col-md p {
  font-size: 1.5rem;
}

html .texto .col-md-6 .iconos,
html .texto .col-md .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

html .formulario {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

html .formulario .form-control {
  border-radius: 1.5rem;
}

html .formulario #mensaje {
  height: 15rem;
}

html .formulario .form-label {
  font-family: Helvetica bold, sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}

html .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .botones .boton-enviar,
html .botones .boton-limpiar {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  color: white;
  background-color: #95282d;
  font-family: Helvetica bold, sans-serif;
  font-size: 1.2rem;
}

html .botones .boton-enviar {
  color: white;
  background-color: #95282d;
}

html .botones .boton-limpiar {
  color: black;
  background-color: #dddddd;
}

html .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

html #derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* min-width de 300px para que se adapte incluso al iPhone SE */
@media screen and (min-width: 300px) {
  /* HEADER */
  #nav-cel {
    display: block;
  }
  #nav-pc {
    display: none;
  }
  /* MAIN */
  #carouselExampleControls {
    display: none;
  }
  #h1-cel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    color: darkgray;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3rem;
  }
  #img-grid {
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 0.5rem;
  }
  #img-grid .contenedor .contenedor--img {
    width: 100%;
    height: 100%;
  }
  #img-grid .contenedor .contenedor--text {
    display: none;
  }
  .texto {
    margin: 1rem;
  }
  .formulario .form-control {
    height: 7rem;
    width: 30rem;
  }
  .botones .boton-enviar,
  .botones .boton-limpiar {
    height: 4rem;
    width: 14rem;
  }
  /* FOOTER */
  .redes .redes--margin {
    margin: 2rem;
  }
  .redes .redes--uno {
    width: 2rem;
    height: 2rem;
  }
  .redes .redes--dos {
    width: 2.5rem;
    height: 1.6rem;
  }
  #derechos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    color: darkgray;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 600px) {
  /* HEADER */
  #nav-cel {
    display: none;
  }
  #nav-pc {
    display: block;
  }
  /* MAIN */
  #carousel-cel {
    display: none;
  }
  #carouselExampleControls {
    display: block;
  }
  #h1-cel {
    display: none;
  }
  #img-grid {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    /* Transicion */
    /* Transicion */
  }
  #img-grid .contenedor {
    /* ordena el texto sobre las imágenes */
    position: relative;
  }
  #img-grid .contenedor .contenedor--img {
    width: 35rem;
    height: 35rem;
    filter: alpha(none);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #img-grid .contenedor .contenedor--text {
    display: block;
    text-align: center;
    font-family: Arial bold, Helvetica, sans-serif;
    color: darkgray;
    font-size: 20px;
    /* ordena el texto sobre las imágenes */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #img-grid .contenedor:hover .contenedor--img {
    -webkit-filter: opacity(0.1);
            filter: opacity(0.1);
  }
  #img-grid .contenedor:hover .contenedor--text {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  .texto {
    margin: 5rem;
  }
  .formulario .form-control {
    height: 7rem;
    width: 40rem;
  }
  .botones .boton-enviar,
  .botones .boton-limpiar {
    height: 4rem;
    width: 19rem;
  }
  /* FOOTER */
  .redes .redes--margin {
    margin: 4rem;
  }
  .redes .redes--uno {
    width: 2.3rem;
    height: 2.3rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* Transicion */
  }
  .redes .redes--uno:hover {
    width: 3rem;
    height: 3rem;
  }
  .redes .redes--dos {
    width: 3rem;
    height: 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* Transicion */
  }
  .redes .redes--dos:hover {
    width: 4rem;
    height: 2.66rem;
  }
  #derechos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
    color: darkgray;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */